# Ignore dependency, object and archive files
*.[doa]
# Ignore generated header files
include/locale_strings.h
# Ignore generated exe files
SRec
SRec.debug
# Ignore generated catalog files
*.catalog
# Ignore release archives
*.lha
